@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>App de controle de Series e Filmes</h1>
    <p class="lead">Desafio repassado pelo Tiago Moreira. More coming soon.</p>
</div>

<div class="row jumbotron">
    <div class="col-md-4">
        <h2>Lorem ipsum...</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum arcu arcu, eleifend vel luctus eget, iaculis quis eros. 
            Praesent vel laoreet neque. Praesent blandit rutrum pharetra. Donec ac semper turpis. Praesent in blandit metus. 
            Pellentesque mattis tortor eu gravida placerat. Suspendisse vitae malesuada neque. Donec scelerisque orci id odio fringilla volutpat. 
            Praesent sit amet leo turpis. Suspendisse potenti. Proin blandit nisl id nibh vehicula gravida. Nam vestibulum pulvinar malesuada. 
            In gravida dolor auctor, elementum nisl a, tristique est.
        </p>
        <p><a class="btn btn-default" href="http://br.lipsum.com/">dolor sit amet;</a></p>
    </div>
    <div class="col-md-4 jumbotron">
        <h2>Lorem ipsum..</h2>
        <p>Suspendisse vitae malesuada neque. Donec scelerisque orci id odio fringilla volutpat.
            Praesent sit amet leo turpis. Suspendisse potenti.</p>
        <p><a class="btn btn-default" href="http://br.lipsum.com/">dolor sit amet;</a></p>
    </div>
    <div class="col-md-4 jumbotron">
        <h2>Lorem ipsum.</h2>
        <p>Proin blandit nisl id nibh vehicula gravida. Nam vestibulum pulvinar malesuada.
            In gravida dolor auctor, elementum nisl a, tristique est.</p>
        <p><a class="btn btn-default" href="http://br.lipsum.com/">dolor sit amet;</a></p>
    </div>
</div>