@model IEnumerable<PrjCinema.MVC.Models.AtuaFilmeModelView>

@{
    ViewBag.Title = "Filmes que atuou";
}

<h2>Filmes atuados</h2>

<p>
    @Html.ActionLink("Adicionar Filme que atuou", "")
</p>
<table class="table ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Filme)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Filme.Titulo)
            </td>

        </tr>
    }
    @Html.ActionLink("Voltar", "Index")

</table>
